<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="identity" class="navigation col-lg-1">
  <h1>{{title}}</h1>
  <span>{{identity.name}} {{identity.surname}}</span>
  <span class="btn btn-warning" (click)="logout()">Cerrar Sesion</span>
</div>

<div *ngIf="identity" class="central col-lg-11">
  <p>estas logueado en la aplicacion</p>
</div>

<div *ngIf="!identity" class="col-12 p-5">
  <div class="row">
    <div class="col-6">
      <h1>Identificate</h1>
      <div *ngIf="errMsg" class="alert alert-danger" role="alert">
        {{errMsg}}
      </div>
      <form class="col-10" [formGroup]="loginForm" (ngSubmit)="authenticationUser()">
        <div class="form-group">
          <label for="inputEmail">Correo Electronico:</label>
          <input type="email" class="form-control" [ngClass]="{'is-invalid': !loginForm.get('email').valid && loginForm.get('email').touched}" placeholder="Email" formControlName="email">
          <div *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="invalid-feedback d-block">
            Necesita un email 
          </div>
        </div>
        <div class="form-group">
          <label for="inputPass">Contraseña:</label>
          <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" [ngClass]="{'is-invalid': !loginForm.get('password').valid && loginForm.get('password').touched}">
          <div *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="invalid-feedback d-block">
            Necesita una contraseña
          </div>
        </div>
        <div class="text-center mt-4">
          <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary mx-auto">Entrar</button>
        </div>
      </form>
    </div>
    <div class="col-6">
      <h1>Registrate</h1>
      <div *ngIf="alertRegister" class="alert alert-info" role="alert">
        {{alertRegister}}
      </div>
      <form class="col-10" [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos:</label>
          <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" formControlName="surname">
        </div>
        <div class="form-group">
          <label for="inputEmail">Correo Electronico:</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="inputPass">Contraseña:</label>
          <input type="password" class="form-control" autocomplete="new-password" placeholder="Contraseña" formControlName="password">
        </div>
        <div class="text-center mt-4">
          <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary mx-auto">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
