/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* .input-box{
    .mat-form-field-infix{
        border: 1px solid lightslategray;
        border-radius: 5px;
    }
    .mat-form-field-label-wrapper{
        margin-left: 5px;
    }
} */